<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html>
<head>
  <meta http-equiv="content-type"
 content="text/html; charset=ISO-8859-1">
  <title>studentreport</title>
</head>
<body>
<div style="text-align: center;">
<div><img src="{{=logo}}" alt="company logo" width="67" height="69"/></div>
<h1>STUDENT REPORT SUMMARY</h1>
</div>
<div>
<table style="text-align: left; width: 100%;" border="1"
 cellpadding="0" cellspacing="0">
  <thead>
  <tr>
    <td style="width: 34px;">S/N</td>
    <td>Matric-No</td>
    <td>Surname</td>
    <td>Firstname</td>
    <td>Program</td>
  </tr>
  </thead>
  <tbody>

    {{for s in students:}} <!-- using python -->
      <tr>
          <td style="width: 34px;">{{=s.id}}</td>
          <td>{{=s.matric_no}}</td>
          <td>{{=s.surname}}</td>
          <td>{{=s.firstname}}</td>
          <td>{{=s.program_of_study}}</td>
      </tr>  
    {{pass}}
  </tbody>
</table>
</div>
</body>
</html>
